body{
  font-family: 'lovelolinelight';
  margin: 0px auto;
  max-width: 1500px;
  font-size: 20px;
}

.index{
  background-image: url(https://github.com/carriephang13/cfc/blob/master/openingimage.png?raw=true);
  background-size: cover;
  background-color: #e0e0e0;
}

h1{
  text-align: center;
  margin: 40px;
  font-size: 70px;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f9cde1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.navitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
}

.songListItems {
  display: none;
  position: absolute;
  min-width: 100px;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.dropdown:hover .songListItems{
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: rgba(255,255,255,.5);
}

.aboutheadline{
  font-family: 'loveloblack';
  text-align: right;
  font-size: 20px;
  position: relative;
  right: 190px;
  top: 400px;
}

.aboutcontent{
  font-family: 'loveloblack';
  text-align: right;
  font-size: 16px;
  position: relative;
  right: 190px;
  top: 400px;
}

.songpage{
  background-image: url(https://github.com/carriephang13/cfc/blob/master/background.png?raw=true);
  /* background-image: url(file:///Users/starky/Desktop/background.png); */
  background-size: cover;
  background-color: #e0e0e0;
}

.songall{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.songinfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.songart{
  border-style: solid;
  border-width: 15px;
  border-color: white;
}

.songdescription{
  font-family: 'loveloblack';
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

ul li{
  padding-top: 30px;
}

.songtitle{
  font-family: 'lovelolinelight';
  font-size: 40px;
}

.play{
  width: 15%;
}

.pause{
  width: 15%;
}

.hidden{
  display: none;
}

.sociallogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.twitterlogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
  padding-left: 50%
}

.gramlogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 10%;
}

.tour{
  /* background-image: url(https://github.com/carriephang13/cfc/blob/master/tourimage.png?raw=true); */
  background-image: url(file:///Users/starky/Desktop/BTS%20Love%20Yourself/Song%20Art/tourimage.png);
  background-size: cover;
  background-color: #e0e0e0;
}

.tourinfo{
  font-family:'loveloblack';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,.5);
  width: 50%;
}

.tourcity{
  flex: 50%;
  padding-left: 25%
}

.tourdate{
  flex: 50%;
}
