body{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin: 0px auto;
  max-width: 1500px;
  font-size: 20px;
}

.index{
  background-image: url(https://github.com/carriephang13/cfc/blob/master/openingimage.png?raw=true);
  background-size: contain;
  background-position: top;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  margin: 40px;
  font-size: 70px;
  font-weight: 700i;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f9cde1;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  text-decoration: none;
}

.navitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
}

.songListItems {
  display: none;
  position: absolute;
  min-width: 100px;
  color: black;
  text-align: center;
  margin-top: 20px;
}

.dropdown:hover .songListItems{
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: rgba(255,255,255,.5);
}

.songpage{
  background-image: url(https://github.com/carriephang13/cfc/blob/master/background.png?raw=true);
  /* background-image: url(file:///Users/starky/Desktop/background.png); */
  background-size: cover;
  background-position: top;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
}

.songall{
  padding:20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.songinfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.arrow{
  width: 10%;
  padding-right: 10px;
}

.songart{
  border-style: solid;
  border-width: 15px;
  border-color: white;
}

.songdescription{
  font-size: 20px;
  text-align: center;
  list-style-type: none;
}

ul li{
  padding-top: 30px;
}

.songtitle{
  font-weight: 700i;
  font-size: 40px;
}

.play{
  width: 15%;
}

.pause{
  width: 15%;
}

.hidden{
  display: none;
}

.sociallogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.twitterlogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15%;
  padding-left: 40%
}

.gramlogo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15%;
}

.tour{
  background-image: url(https://github.com/carriephang13/cfc/blob/master/tourbackground.jpg?raw=true);
  background-size: cover;
  background-position: top;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
}

.connect{
  background-image: url(https://github.com/carriephang13/cfc/blob/master/connect.jpg?raw=true);
  background-size: cover;
  background-position: top;
  background-color: #e0e0e0;
  background-repeat: no-repeat;
}

.tourinfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255,255,255,.5);
  width: 50%;
}

.tourcity{
  flex: 50%;
  padding-left: 25%
}

.tourdate{
  flex: 50%;
}

@media (max-width:800px) {
  .tour{
    background-image: url(https://github.com/carriephang13/cfc/blob/master/background.png?raw=true);
    /* background-image: url(file:///Users/starky/Desktop/background.png); */
    background-size: cover;
    background-position: top;
    background-color: #e0e0e0;
    background-repeat: no-repeat;
  }
  .connect{
    background-image: url(https://github.com/carriephang13/cfc/blob/master/background.png?raw=true);
    /* background-image: url(file:///Users/starky/Desktop/background.png); */
    background-size: cover;
    background-position: top;
    background-color: #e0e0e0;
    background-repeat: no-repeat;
  }
}
